.input-group {
    &-append {
        opacity: 100%;
        animation-name: appear;
        animation-duration: 4s;
    }

    &-text {
        font-size: 18px;
    }
}

@keyframes appear {
    0% {opacity: 50%;}
    50% {opacity: 750%;}
    100% {opacity: 100%;}
  }