.input-group {
    &-append {
        opacity: 100%;
        animation-name: appear;
        animation-duration: 2s;
    }

    &-text {
        font-size: 18px;
    }
}

@keyframes appear {
    0% {opacity: 50%;}
    50% {opacity: 75%;}
    100% {opacity: 100%;}
}

th>i.material-icons {
    cursor:pointer;
}

.hidden {
    visibility: hidden;
}

.btn-small-text {
    display: inline;
    font-size: 80%;
    position: relative;
    top: -5%;
}
