<div class="container col-10 offset-1">
  <h3 class="mb-3">Orders</h3>
</div>

<div class="input-group mb-3 col-10 offset-1">

  <select [(ngModel)]="phraseKey" class="custom-select">
    <option value="">find all</option>
    <option *ngFor="let key of keyArray" [value]="key">
      {{ key }}
    </option>
  </select>


  <!-- Kereső mező -->
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="material-icons">filter_list</i></span>
  </div>
  <input [(ngModel)]="txt" class="form-control" type="text" placeholder="search...">
</div>



<div class="container col-10 offset-1">
  <button type="button" class="btn btn-primary btn-lg btn-block"><i class="material-icons">post_add</i></button>
  <table class="table thead-dark table-hover table-striped">
    <thead class="thead-dark text-center">
      <tr>
        <th class="text-center" (click)="onColumnSelect('id')">#
          <i *ngIf="direction === 'str'" class="material-icons align-text-bottom">indeterminate_check_box</i>
          <i *ngIf="direction === 'asc'" class="material-icons align-text-top">keyboard_arrow_down</i>
          <i *ngIf="direction === 'dsc'" class="material-icons align-text-bottom">keyboard_arrow_up</i>
        </th>
        <th class="text-center" (click)="onColumnSelect('customerID')">CustomerID
          <i *ngIf="direction === 'str'" class="material-icons align-text-bottom">indeterminate_check_box</i>
          <i *ngIf="direction === 'asc'" class="material-icons align-text-top">keyboard_arrow_down</i>
          <i *ngIf="direction === 'dsc'" class="material-icons align-text-bottom">keyboard_arrow_up</i>
        </th>
        <th class="text-center" (click)="onColumnSelect('productID')">ProductID
          <i *ngIf="direction === 'str'" class="material-icons align-text-bottom">indeterminate_check_box</i>
          <i *ngIf="direction === 'asc'" class="material-icons align-text-top">keyboard_arrow_down</i>
          <i *ngIf="direction === 'dsc'" class="material-icons align-text-bottom">keyboard_arrow_up</i>
        </th>
        <th class="text-center" (click)="onColumnSelect('amount')">Amount
          <i *ngIf="direction === 'str'" class="material-icons align-text-bottom">indeterminate_check_box</i>
          <i *ngIf="direction === 'asc'" class="material-icons align-text-top">keyboard_arrow_down</i>
          <i *ngIf="direction === 'dsc'" class="material-icons align-text-bottom">keyboard_arrow_up</i>
        </th>
        <th class="text-center" (click)="onColumnSelect('status')">Status
          <i *ngIf="direction === 'str'" class="material-icons align-text-bottom">indeterminate_check_box</i>
          <i *ngIf="direction === 'asc'" class="material-icons align-text-top">keyboard_arrow_down</i>
          <i *ngIf="direction === 'dsc'" class="material-icons align-text-bottom">keyboard_arrow_up</i>
        </th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderList | async | orderFilter:txt:phraseKey | sorter:direction:columnKey">
        <td class="text-center">{{ order.id }}</td>
        <td class="text-center">{{ order.customerID }}</td>
        <td class="text-center">{{ order.productID }}</td>
        <td class="text-center">{{ order.amount }}</td>
        <td class="text-center">{{ order.status }}</td>
        <td class="text-center">
          <div class="btn-group">
            <button class="btn btn-info">
              <i class="material-icons">mode_edit</i>
            </button>
            <button class="btn btn-danger">
              <i class="material-icons">delete_forever</i>
            </button>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>
