table {
  thead {
    th:hover {
      cursor: pointer;
      user-select: none;
    }
  }
}

.button {
  // background-color: rgb(124, 82, 223);

  &:hover {
    color: #fff;
    background-color: rgb(154, 124, 223);
  }
}

.table-order {

  &__th {
    &--id {
      min-width: 60px;
    }

    &--customerId {
      min-width: 140px;
    }

    &--productId {
      min-width: 130px;
    }

    &--amount {
      min-width: 110px;
    }

    &--status {
      min-width: 100px;
    }
  }
}