.h4__label {
  font-weight: 400;
}

.error {
  color: red;
}

.success {
  color: green;
}

.btn-block:disabled {
  box-shadow: none;
  cursor: not-allowed;
}

.form-control, .is-focused .form-control {
  background-image: linear-gradient(
0deg
,#47a44b 2px,rgba(156,39,176,0) 0),linear-gradient(
0deg
,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.refresh-start {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    
}
.loading-refresh{
    color: #00bcd4;
    font-size: 40px;
}