<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-md-6 col-sm-6 pr-0">
      <div class="card card-stats dash-card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">theaters</i>
          </div>
          <p class="card-category">Active Products</p>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ activeProductsCount }}/{{ productsCount }}</h3>
        </div>
        <div class="card-footer pt-auto">
          <div class="stats">
            <i class="material-icons text-danger">error</i>
            <p>{{activeProductsPercent}} of the Products are active</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6 pr-0">
      <div class="card card-stats dash-card">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">person</i>
          </div>
          <p class="card-category">Active Customers</p>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ activeCustomersCount }}/{{ customersCount }}</h3>
        </div>
        <div class="card-footer pt-auto">
          <div class="stats">
            <i class="material-icons text-warning">warning</i>
            <p>{{activeCustomersPercent}} of the Customers are active</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6 pr-0">
      <div class="card card-stats dash-card">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon">
            <i class="material-icons">shopping_cart</i>
          </div>
          <p class="card-category">Unpaid Orders</p>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ unpaidOrdersCount }}/{{ ordersCount }}</h3>
        </div>
        <div class="card-footer pt-auto">
          <div class="stats">
            <i class="material-icons text-info">report</i>
            <p>{{unpaidOrdersPercent}} of the Orders are unpaid</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">
      <div class="card card-stats dash-card">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">paid</i>
          </div>
          <p class="card-category">Unpaid Bills</p>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ unpaidBillsValue }} Ft</h3>
        </div>
        <div class="card-footer pt-auto">
          <div class="stats">
            <i class="material-icons text-primary">paid</i>
            <p>{{unpaidBillsValuePercent}} of the value is unpaid</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-primary">
          <app-chart *ngIf="productsCount && activeProductsCount" [chartTitle]="'Products'" [data]="[{ name: 'Active', value: activeProductsCount },
             { name: 'Inactive', value: productsCount - activeProductsCount }]">
          </app-chart>
        </div>
        <div class="card-body">
          <h4 class="card-title">Products</h4>
          <p class="card-category">
            Active-inactive Products
          </p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i>Real time data
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-danger">
          <app-chart *ngIf="newOrdersCount && paidOrdersCount && shippedOrdersCount" [chartTitle]="'Orders'"
            [pieColor]="'#33aa22'" [data]="[{ name: 'New', value: newOrdersCount },
             { name: 'Paid', value: paidOrdersCount },
             { name: 'Shipped', value: shippedOrdersCount }]">
          </app-chart>
        </div>
        <div class="card-body">
          <h4 class="card-title">Orders</h4>
          <p class="card-category">
            Orders by status
          </p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i>Real time data
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-info">
          <app-chart *ngIf="billsValue && unpaidBillsValue" [chartTitle]="'Bills'" 
          [pieColor]="'#ffff11'" [data]="[{ name: 'Paid', value: billsValue - unpaidBillsValue },
             { name: 'Unpaid', value: unpaidBillsValue }]">
          </app-chart>
        </div>
        <div class="card-body">
          <h4 class="card-title">Bills</h4>
          <p class="card-category">
            Total value: {{ billsValue }} Ft
          </p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i>Real time data
          </div>
        </div>
      </div>
    </div>
  </div>
</div>