<div class="row">
  <div *ngIf="(order$ | async) as order"
    class="col-xl-6 col-lg-8 col-md-10 col-sm-10 mx-auto">
    <div class="card">
      <div class="card-header card-header-danger d-flex justify-content-between">
        <div>
          <h3 *ngIf="order.id === 0">Create new Order</h3>
          <h3 *ngIf="order.id !== 0">#{{ order.id }} Order</h3>
        </div>
      </div>
      <div class="card-body">
        <form #orderForm="ngForm" (ngSubmit)="onUpdate(orderForm, order)" class="py-3 px-5">
          <div class="mt-4">
            <label for="customerID">CustomerID</label>
            <input id="customerID" type="text"
            freeInput="false"
            name="customerID"
            class="form-control"
            [(ngModel)]="choosenCustomer"
            [ngbTypeahead]="searchCustomer"
            [resultFormatter]="customerResultFormatter"
            [inputFormatter]="customerInputFormatter"
            #instance="ngbTypeahead"
            [editable]="false"
            typeahead-editable="false"
             required>
            <div [style.opacity]="(orderForm.controls.customerID?.value && orderForm.controls.customerID?.value['id'] === 0 && orderForm.controls.customerID.touched) ||
            (orderForm.controls.customerID?.dirty && orderForm.controls.customerID?.invalid) ? '1' : '0'" 
          [style.visibility]="(orderForm.controls.customerID?.value && orderForm.controls.customerID?.value['id'] === 0 && orderForm.controls.customerID.touched) ||
            (orderForm.controls.customerID?.dirty && orderForm.controls.customerID?.invalid) ? 'visible' : 'hidden'"
          class="error-message">
              Customer ID is required, please select.
            </div>         
          </div>
          <div class="mt-4">
            <label for="productID">ProductID</label>
            <input id="productID" type="text"
            freeInput="false"
            name="productID"
            class="form-control"
            [(ngModel)]="choosenProduct"
            [ngbTypeahead]="searchProduct"
            [resultFormatter]="productResultFormatter"
            [inputFormatter]="productInputFormatter"
            #instance="ngbTypeahead"
            [editable]="false"
            typeahead-editable="false"
             required>
            <div [style.opacity]="(orderForm.controls.productID?.value && orderForm.controls.productID?.value['id'] === 0 && orderForm.controls.productID.touched) ||
            (orderForm.controls.productID?.dirty && orderForm.controls.productID?.invalid) ? '1' : '0'" 
          [style.visibility]="(orderForm.controls.productID?.value && orderForm.controls.productID?.value['id'] === 0 && orderForm.controls.productID.touched) ||
            (orderForm.controls.productID?.dirty && orderForm.controls.productID?.invalid) ? 'visible' : 'hidden'"
          class="error-message">
              Product ID is required, please select.
            </div>         
          </div>
          <div class="mt-4">
            <label for="amount">Amount (Ft)</label>
            <input id="amount" type="number"
            freeInput="false"
            name="amount"
            class="form-control"
            [(ngModel)]="choosenProduct"
            [ngbTypeahead]="searchProduct"
            [resultFormatter]="productResultFormatter"
            [inputFormatter]="productPriceInputFormatter"
            #instance="ngbTypeahead"
            disabled
             required>
            <!-- <div [style.opacity]="(orderForm.controls.amount?.value && orderForm.controls.amount?.value['id'] === 0 && orderForm.controls.amount.touched) ||
            (orderForm.controls.amount?.dirty && orderForm.controls.amount?.invalid) ? '1' : '0'" 
          [style.visibility]="(orderForm.controls.amount?.value && orderForm.controls.amount?.value['id'] === 0 && orderForm.controls.amount.touched) ||
            (orderForm.controls.amount?.dirty && orderForm.controls.amount?.invalid) ? 'visible' : 'hidden'"
          class="error-message">
          Amount is required and must contain numbers.
            </div>          -->
          </div>
          <div class="mt-4">
            <label for="orderStatus">Status</label>
            <select class="form-control" data-style="btn btn-link" id="orderStatus" name="orderStatus"
              [(ngModel)]="order.status" required>
              <option [ngValue]="undefined">Select status...</option>
              <option *ngFor="let status of orderStatus | keyvalue" [ngValue]="status.value">{{status.value}}</option>
            </select>
            <div [style.opacity]="orderForm.controls.orderStatus?.value  || 
                !orderForm.controls.orderStatus?.touched ? '0' : '1'" [style.visibility]="orderForm.controls.orderStatus?.value || 
                !orderForm.controls.orderStatus?.touched ? 'hidden' : 'visible'" class="error-message">
              Please select Status from the list.
            </div>
          </div>
          <div class="mt-5">
            <button type="submit" class="btn btn-block btn-warning" [disabled]="orderForm.invalid" type="submit">Save<i class="material-icons pl-3">save</i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
