@keyframes error {
    0%   {opacity: 0%;}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    100% {opacity: 100%;}
}

.error-message {
    color: rgb(226, 62, 62);
    opacity: 100%;
    animation-name: error;
    animation-duration: .5s;
}

.btn-block:disabled{
    box-shadow: none;
    cursor: not-allowed;
  } 